.root {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.profileContainer {
  display: flex;
  gap: 1.6rem;
}
.profile {
  display: flex;
  flex-direction: column;
}
.sender {
  font-size: 2rem;
  font-weight: 400;
}
.sender span {
  font-weight: 600;
}
.header img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.content {
  width: 50rem;
}
